.container{
    padding: auto;
    font-family: Arial, Helvetica, sans-serif;
}

.footer{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

p{
    margin: 1.6em;
    padding: 10px;
    line-height: 1.6em;
    text-align: center;
}

.heading{
    padding: 10px;
    display:inline;
    color:#000;
}

.boring-link{
    text-decoration: none;
    color: #000;
}

.boring-link:hover{
    color:blue;
}

.navbar{
    background-color: #333;
    color: #fff;
    padding-top:5px;
}
.navbar-nav{
    padding: 5px;
    list-style: none;
}

.nav-item{
    display:inline;
}

.nav-link{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding-right: 20px;
    padding-left: 5px;
}
.nav-link:hover{
    color:lightblue;
}

.page-title{
    text-align: center;
    color: rgb(47, 26, 122);
}

.title-nav{
    text-decoration: none;
    color: #fff;
}

.title-nav:hover{
    text-decoration: none;
    color: lightblue;
}

.search_form{
    display:inline;
    float:inline-end;
    padding: 5px;
}

.main_box{
    background-color: #000;
    display:flex;
    flex-direction: column;
    justify-content: left;
    min-width: 100px;
    min-height: 100px;
    margin:10px;
}

.main_box_row{
    background-color: #c0c0c0;
    display:flex;
    flex-direction: row;
    justify-content: center;
    min-width: 50px;
    min-height: 50px;
    margin: 10px 10px 10px 10px;
}

.row{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.row_item{
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    min-width: 45%;
    min-height: 40px;
    margin: 10px;
}

.column_item{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    min-width: 45%;
    min-height: 40px;
    margin: 10px;
    padding-left: 15px;
}

.lbs_item{
    justify-content: center;
    margin: 5px 10px;
}

#account_summary{
    min-width: 92%;
    padding-bottom: 20px;
}

table{
    border-collapse: collapse;
    border: 3px solid #000;
    table-layout: fixed;
}

th{
    background-color: #95ac9f;
    font-size: 1.2em;
    padding: 5px;
    border: 1px solid #000;
}

tbody{
    text-align: center;
}
tr{
    padding: 5px;
}

td{
    padding:3px 5px;
    border: 1px solid #000;

}

tr:nth-child(even){
    background-color: #c0c0c0;
}
tr:nth-child(odd){
    background-color: #95b8cc;
}

#as_coins{
    padding-right: 10px;
    justify-content: center;
}

.positive{
    color: rgb(20, 122, 20);
}

.negative{
    color: #f00;
}
.center_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bordered{
    margin: 3px;
    padding: 10px;
    border: 1px solid #000;
}

.left_item{
    padding-left: 10px;
}

.form_box{
    max-width: 50%;
    background-color: #c0c0c0;
    padding-left: 10px;
    padding-right: 10px;
}

.login_box{
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

.form_item{
    margin-bottom: 5px;
}

.login_button{
    width:fit-content;
}

.column_box{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:flex-start;
}